use-node-version=20.18.0

# public-hoist-pattern[]=*fastify*
# public-hoist-pattern[]=*prettier*
# public-hoist-pattern[]=*dotenv*
# public-hoist-pattern[]=*@nestjs*
# public-hoist-pattern[]=*zod*

registry=https://registry.npmjs.org

# enable-pre-post-scripts=true

# strict-peer-dependencies=false
